namespace SREnergyMeterCore {
    public static class Credential {

        public const string SerialPortDeviceName = "";

        public const string BRouteId = "";

        public const string BRoutePasscode = "";



        public const string ApiEndpoint = "";

        public const string BearerToken = "";


    }
}
